@media screen and (min-width: 740px){
	header.primary nav a:last-child{
		padding-right: 0;
	}
	header.primary{
		max-width: 52em;
	}
	.content,
	footer.license{
		max-width: 52em;
	}
	/* override syntax.css */
	.highlighttable{
		font-size: 16px;
		line-height: 24px;
	}
	td.linenos{
		padding: 0 10px 0 6px;
		width: 15px;
	}
	td.code{
		padding-left: 25px;
	}
}
@media screen and (min-width: 1370px){
	#blog div.secondary{
		position: absolute;
		right: 0;
		top: 0;
		padding-left: 1em;
		min-width: 300px;
		width: 30%;
		max-width: 600px;
	}
	.secondary .stale{
		display: block !important;
	}
	.secondary a.toggler{
		display: none !important;
	}
}