/* admin */
div#adminbar{
  position: fixed;
  top: 0;
  right: 0;
  color: #dedede;
}
div#adminbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div#adminbar ul li{
  float: left;
}
div#adminbar ul li a{
  font-family: "ff-dagny-web-pro-1","ff-dagny-web-pro-2", "Helvetica Neue", Helvetica, Arial;
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  float: left;
  color: #dedede;
  text-shadow: none;
  text-decoration: none;
  padding: 5px 25px;
  background-color: rgba(0,0,0,0.4);
  border: 0 none;
  margin: 0 10px;

}
div#adminbar ul li a:hover{
  background-color: rgba(0,0,0,0.6);
}