
    
article.featured{
    height: 350px;
}    
article.featured a{
    height: 100%;
    width:100%;
    display: block;
    margin-top: 6px;
    background-color: rgba(0,0,0,0.3) !important;
}    
#blog article.featured h1{
    color: #fff;
    font-size: 72px;
    font-weight: 800;
    text-shadow: 0px 0px 10px #000;
    display: block-inline;
    padding: 24px 14px;
}
#blog article.featured p{
    margin-top: 24px;
    color: #fff;
    font-size: 36px;
    line-height: 48px;
    padding: 24px 14px;
    text-shadow: 0px 0px 10px #000;
}
nav.archive{
    clear: both;
}

    
    nav.archive a{
        width: 120px;
        padding: 12px 10px;
        float: left;
        display: block;
        height: 48px;
        margin-right: 10px;
        margin-bottom: 12px;
        color: rgba(255,255,255,0.8);
        position: relative;
        font-size: 14px;
        text-shadow: 1px 1px 1px #000;
    }
    nav.archive span.year{
        font-weight: 100;
    }
    nav.archive span.month{
        font-weight: 800;
    }
    nav.archive span.summary{
        clear: left;
        display: block;
        font-family: georgia;
        color: #4F4F4F;
    }
    nav.archive li a{
        color: #555254 ;
        background-color: #242424;
    }
    nav.archive li a:hover{
        color: #559F00;
        background-color:#09090A;
    }

#blog.post header h1{
  line-height: 48px;
}
