    #blog.archive h1{
        color: #6D6D6D;
        text-shadow: 1px 1px 1px #1C1C1C;
        font-size: 70px;
        line-height: 70px;
        font-weight: 600;
        letter-spacing: -5px;
        margin-bottom: -12px;
        padding-bottom: 0;
        clear: both;
    }
    
article.featured{
    height: 360px;
}    
article.featured a{
    height: 100%;
    width:100%;
    display: block;
}    
#blog article.featured h1{
    color: #fff;
}
#blog article.featured p{
    margin-top: 48px;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
}
nav.archive{
    clear: both;
}

    
    nav.archive a{
        width: 120px;
        padding: 12px 10px;
        float: left;
        display: block;
        height: 48px;
        margin-right: 10px;
        margin-bottom: 12px;
        color: rgba(255,255,255,0.8);
        position: relative;
        font-size: 14px;
        text-shadow: 1px 1px 1px #000;
    }
    nav.archive span.year{
        font-weight: 100;
    }
    nav.archive span.month{
        font-weight: 800;
    }
    nav.archive span.summary{
        clear: left;
        display: block;
        font-family: georgia;
        color: #4F4F4F;
    }
    nav.archive li a{
        color: #555254 ;
        background-color: #242424;
    }
    nav.archive li a:hover{
        color: #559F00;
        background-color:#09090A;
    }
