/* fix older compatibilities */
article, header, footer, aside{display: block;}
/* style the elements */
body{
    background: #fdfdfd url(/images/body.bg.png) top left repeat fixed;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1,h2, h3, h4, h5, h6{
    font-family: "ff-dagny-web-pro-1","ff-dagny-web-pro-2", "Helvetica Neue", Helvetica, Arial;
    font-weight: 600;
    margin: 9px 0;
    padding: 0;
    color: #2A2A2A;
    border-bottom: 0 none;
}
p{
  margin-bottom: 25px;
}
h1{
    font-size: 48px;
    line-height: 48px;
}
a{
  color: #E00000;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  background-color: rgba(0,0,0,0);
  padding: 0 2px;
}
a:hover{
  background-color: rgba(0,0,0,0.04);

}
