/* large devices*/
@media screen and (min-width: 1400px){

}
/* tablet sized */
@media screen and (max-width: 1000px) and (min-width: 601px){
    /* blog */
    .content{
        margin: 0;
        padding:2%;
        width: 96%;
    }
    .secondary{
        margin-top: 2%;
        width: 92%;
        position: relative;
        margin-left: 2%;
        
    }
        .secondary nav{
            width: 40.9%;
            padding: 2%;
            margin: 2%;
            display: inline-block;
            vertical-align: top;
        }
        .secondary p{
            text-align: left;
        }
    #blog.show .content footer{
        display: block;
    }
    .secondary aside{
        display: none;
    }

    #blog .secondary nav:nth-of-type(odd) a, #blog .secondary nav:nth-of-type(odd) h3{
        text-align: left;
    }
    #blog .secondary nav:nth-of-type(even){
    }

} 



/* mobile devices */
@media screen and (max-width: 600px) {
    /* ensure a consiatance font size*/
    p a{
        font-size: 1em;
    }
    /* these are a little big for littler devices */
    h1{
        font-size: 2.5em;
    }
    #blog.show .content header p{
        font-size: 1.75em;
    }
    header.primary h1{
        font-size: 1.75em;
    }
    /* objects */
    .blog.object{
        width : 90%;
        padding: 5% 0 5% 2%;
        margin: 0;
    }
    .blog.object h1{
        width: 100% !important;
        padding: 0 !important;
        margin: 0 0 1em 0!important;
    }
    .blog.object h1 a{
        padding: 0;
    }
    .blog.object h1, .blog.object p{
        width: 100%;
        margin: 0;
    }
    .blog.object h1{
        width: 100%;
        font-size: 2em;
    }
    .blog.object time{
        display: block;
        width: 100%;
        float: none;
        margin: 0;
        text-align: left;
    }
    /* main structural */
    .content{
        margin: 0;
        padding:2%;
        width: 96%;
    }
    .secondary{
        margin-top: 2%;
        width: 100%;
        position: relative;
        margin-left: -2%;
        text-align: left;
    }
    #blog.show footer{
        display: block;
    }
    .secondary aside{
        display: none;
    }
    .secondary nav{
        width: 42%;
        padding: 2%;
        margin: 2%;
        display: inline-block;
        vertical-align: top;
    }
    #blog .secondary nav:nth-of-type(odd) a, #blog .secondary nav:nth-of-type(odd) h3{
        text-align: left;
    }
    #blog .secondary nav:nth-of-type(even){
    }
}