footer{
    text-align: left;
    padding: 10px;
    margin: 0 -20px;
    background-color: rgba(0,0,0,0.1);
}
  footer h1{
    font-size: 28px;
  }
  footer #about-me{
    width: 60%;
    margin-right: 1%;
    float: left;
    min-width: 300px;
    color: #979797;
  }
    footer #about-me p{
      padding-top: 0;
    }
    footer #about-me img{
        margin: 2%;
        margin-top: 25px;
        border: 1px solid #999;
        padding: 1%;
        background-color: rgba(255,255,255,0.4);
        border-radius: 1px;
        -moz-border-radius: 1px;
        max-width: 24%;
        float:left;
    }
    footer #about-me div{
      float : left;
      width: 64%;
      margin: 2% 2% 0 2%;
      min-width: 230px;
      padding: 0;
      font-style: italic;
    }
    footer #about-me div h1{
      font-size: 25px;
      line-height: 25px;
      margin: 0;
      font-style: normal;
      padding: 0;
    }
  footer #social{
    width: 27%;
    float: left;
    margin-left: 2%;
    margin-top: 50px;
    margin-bottom: 25px;
  }
    footer #social a{
      float: left;
      clear: none;
      margin-left: 10px;
      padding-left: 25px;
      background-image: url(/images/tag.icons.png);
    }
    footer #social a.tag:hover{
      background-color: #919191;
      color:#EDEDED;
      text-shadow: 1px 1px 1px #3e3e3e;
    }
    footer #social a.tag.twitter{ background-position: 3px -31px; }
    footer #social a.tag.twitter:hover{ background-position: 3px 2px; }
    footer #social a.tag.flickr{ background-position: 3px -86px; }
    footer #social a.tag.flickr:hover{ background-position: 3px -53px; }
    footer #social a.tag.lastfm{ background-position: 3px -137px; }
    footer #social a.tag.lastfm:hover{ background-position: 3px -110px; }
    footer #social a.tag.tumblr{ background-position: 3px -187px; }
    footer #social a.tag.tumblr:hover{ background-position: 3px -162px; }
  footer #creative-commons{
      clear: left;
      font-size: 80%;
      background-color: rgba(0,0,0,0.4);
      text-shadow: none;
      margin: 0 -10px;
      padding: 10px;
      color: #ccc;
      margin-bottom: -10px;
  }
    footer #creative-commons a{
      color: #B0C9CC;
      border-bottom: 0 none;
    }
