

#js_tags_widget{
    border: 1px solid #bbb;
    width: 100%;
    font-size: 14px;
    background-color: #fff;
    clear: both;
    min-height: 38px;
    position: relative;
}
#js_tag_widget_tags{
    float: left;
    border: 1px solid red;
}
#js_tags_widget input#id_tags{
    border: 0px;
    background-color: rgba(255,150,0, 0.2);
    float: left;
    outline: 0;
}

/* the tags */

#js_tags_widget a{
    display: block;
    float: left;
    margin-right: 5px;
    background-color: rgb(0,0,255);
}