div#grid-vert,div#grid-horizontal{
    width: 100%;
    height: 100%;
    position: absolute;
}
div#grid-vert{
    background: transparent url(/img/grid-vertical.png) top left repeat;
    opacity: 0.4;
}
div#grid-horizontal{
    background: transparent url(/img/grid-horizontal.png) top left repeat;
    opacity: 0.4;
}

div#grid-toggle{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
    padding: 15px;
    height: 20px;
    text-transform: uppercase;
    background-color: #000;
    color: #EBCA02;
    cursor: pointer;
    z-index: 30000;
}