.blog{
    width: 50%;
    display: inline-block;
    vertical-align:top;
}

.instagrams{
    width: 16%;
    padding: 2%;
    display: inline-block;
}


.instagram img{
    padding: 2%;
    width: 96%;
    max-width: 96%;
}

.bookmarks{
    border-top: 1px solid red;
    width: 15%;
    padding: 2%;
    display: inline-block;
    vertical-align: top;
}

 .bookmarks ul{
     margin: 0;
     padding: 0;
 }
 
  .bookmarks ul li{
      margin-bottom: 0.5em;
  }
