body{
    background-color: #303030;
}

header{
}
article{

}
article h1{
    font-size: 100px;
    color: #fff;
    line-height: 150px;
    text-shadow: 5px 5px 0 #000;
    text-align: center;
}
p#about{
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -1px;
    color: #70BD00;
    width: 590px;
    margin: 0 10px 25px 0;
    float: left;
}