body{
    background-color: #000;

}

#instagram div.content{
    display: block;
    margin: auto;
    width: 612px;
    background-color: #000;
}

#instagram footer.license{
    text-align: center;
    margin: auto;
    width: 612px;
}