body, div.content{
     background-color: #2e2e2e;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
}
nav.global a{
    text-shadow: none;
}


.instagram-photo{
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.45, rgb(255,255,255)),
        color-stop(0.17, rgb(245,245,245))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(255,255,255) 45%,
        rgb(245,245,245) 17%
    );
    padding: 0.625em;
    width: 9.735em;
    margin: 0 1em 1em 0;
    -webkit-box-shadow: rgba(0,0,0,0.9) 2px 2px 2px;
    -moz-box-shadow: rgba(0,0,0,0.9) 2px 2px 2px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in;
       -moz-transition: all 0.2s ease-out;
       -o-transition: all 0.2s ease-in;
}
    .instagram-photo:hover{
        -webkit-transform: rotate(2deg) scale(3);
        -moz-transform: rotate(2deg) scale(3);
        -o-transform: rotate(2deg) scale(3);
        -moz-box-shadow: rgba(0,0,0,0.9) 20px 20px 20px;
    }

    .instagram-photo:hover:nth-child(odd){
        -webkit-transform: rotate(-2deg) scale(3);
        -moz-transform: rotate(-2deg) scale(3);
        -o-transform: rotate(-2deg) scale(3);
    }



.instagram-photo h2, .instagram-photo h3{
    text-align: center;
    margin: 0 ;
    text-transform : uppercase;
    font-weight : 900;

}
.instagram-photo h2{
    font-size: 0.1em;
}
.instagram-photo h3{
    font-size: 1em;
}

.instagram-photo img{
    border-top: 1px solid rgba(0,0,0,0.1);
    border-left: 1px solid rgba(0,0,0,0.1);
}

/* body{
    background-color: #101010;
}
nav.global a{
    text-shadow: none;
}
div.content{
    background-color: #101010;
    max-width: 38.25em;
    text-align: center;
    float: right;
}
footer{
    max-width: 42.25em;
    clear: both;
    float: right;
}
#instagram-reveal{
    background-color: #f90;
    position: absolute;
}


.instafeed-thumbnails{
    max-width: 38.25em;
}
div.content h2{
    color: #dedede;
    font-size: 2.25em;
}
div.content img{
    margin: 0.5em 1em 2em 0;
}
div.content img:after{
    content: 'asdlk adl;sa ';
}
*/