body{
    background-color: #EAECE9;

    background: -webkit-gradient(
      radial, 600 50%, 200, 600 50%, 800, from(#fff), to(#dedede)
    );
    background-attachment: fixed;
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 14px;
    line-height: 21px;
    color: #2F2F2F;
    margin:21px 21px 0 21px;
    padding: 0;
}
/* typography */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1,h2, h3, h4, h5, h6{
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-weight: 600;
    margin: 9px 0;
    padding: 0;
    color: #2A2A2A;
    border-bottom: 0 none;
}
h1{
    margin-top: 42px;
    font-size: 28px;
    line-height: 35px;
}
h2{
    font-size: 21px;
    line-height: 28px;
}
h3{
    font-size: 18px;
    line-height: 28px;    
}
h4{
    font-size: 16px;
    line-height: 28px;    
}
h5{
    font-size: 15px;
    line-height: 28px;    
}
h6{
    font-size: 14px;
    line-height: 28px;    
}

a{
    color: #E90000;
    text-decoration: none;
}

div.search{
    width: 612px;
    margin-bottom: 21px;
}
    div.search input{
        width: 816px;
        font-size: 14px;
        line-height: 28px;
        font-family: "Helvetica Neue", Helvetica, Arial, 'Sans Serif';
    }


body > header{
    float: left;
    margin-right: 60px;
    position: fixed;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);

    padding: 10px;
    background-color: #fff;

    width: 169px;
    max-width: 169px;
}
    body > header h1{
        padding: 0;
        margin: 0;
    }
    body > header h1 a {
        padding: 0;
        margin: 0;
        display: block;
        width: 50px;
        font-size: 21px;
        line-height: 50px;
        color: #fff;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
        background-color: #393939;
        background-color: rgba(0,0,0,0.6);
    }
        body > header span{
            display: none;
        }
        
    div.content{
        float: left;
        width: 612px;
        margin-bottom: 42px;
        margin-left: 210px;
    }
    
footer{
    clear: both;
    padding:  4px 10px;
    margin:  0 -21px -10px -21px;
    background-color: rgba(0,0,0,0.8);
    color: #717171;
    text-transform: uppercase;
    font-size: 9px;

}
footer div p{
    padding: 0;
    margin: 0;
}
footer a{
    color:#939393;
    text-decoration: none;
}
footer a:hover{
    color: #fff;
}


div.meta{
    font-size: 80%;
    color: #999;
}