div.object{
    display: block;
    float: left;
    margin-right: 21px;
    margin-bottom: 21px;
    position: relative;
    background-color: #393939;
    background-color: rgba(0,0,0,0.6);
}
div.object.m{
    width: 295px;
    height: 160px;
}
    div.object.m:nth-child(odd){
        margin-right: 0;
        width: 296px;
    }
div.object.l{
    width: 612px;
    height: 340px;
    margin-right: 0;
}
div.object.l > a{
    background-position: center center;
}
div.object > a{
    display: block;
    width: 100%;
    height: 100%;
    opacity:0.7;
}

div.object p{
    position: absolute;
    bottom: 0;
    padding: 5px;
    font-size: 11px;
    background-color: #393939;
    background-color: rgba(0,0,0,0.6);
}
 div.object p a{
     color: #fff;
 }
 
ul.object{
    margin: 21px 0 0 0;
    padding: 0;
    list-style: none;
}
ul.object li{
    clear: both;
    display: block;
    padding: 0;
    font-size: 11px;
    background-color: #393939;
    background-color: rgba(0,0,0,0.6);
}
ul.object li a {
    display: block;
    padding: 5px;
    color: #fff;
}