article{
    border-bottom: 4px #D7D7D7 solid;
    margin-bottom: 38px;
}
article header{
    border-bottom: 4px #D7D7D7 solid;
    margin-bottom: 17px;
}
article header h1{
    margin-top: 0px;
}
#posts.show article h1{
    font-size: 28px;
}

p.description{
    font-weight: bold;
}

blockquote{
    font-size: 12px;
    font-style: italic;
    border-left: 4px solid #EAEAEA;
    margin-bottom: 21px;
    padding: 21px 0 21px 17px;
    line-height: 28px;
}
