/* Show */

 #blog.show .content header{
    border-bottom: 0.6em solid #ccc;
    margin-bottom: 2em;
}
    #blog.show .content header h1{
        font-weight: 900;
        margin: 0 0 0.5em 0;
    }

    #blog.show .content header p{
        font-size: 2em;
        line-height: 1.2em;
        font-weight: 500;
        margin-bottom: 1em;
        font-family: georgia;
        font-style: italic;
        color: #999;
    }

#blog.show .content div.body img{
    width: 100%;
    max-width: 100%;
}

/* all */
.content{
    display: inline-block;
    width: 60%;
}
.secondary{
    background-color: #f90;
    width: auto;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    width: 30%;
}