/* show */
#quotes.show div.quote{
    margin: 0 auto; 
    width: 60%;   
}
    #quotes.show div.quote blockquote{
        font-size: 3em;


    }
    #quotes.show div.quote blockquote p{
        line-height: 1.2em;
    }

    #quotes.show div.quote img{
        width: 75px;
        height: 75px;
        float: left;
        margin-right: 3em;
        margin-left: 2.5em;
    }
    #quotes.show div.quote p.tags{
        text-align: right;
    }

/* list */
#quotes.list div.object{
    border-left: 0.4em solid #ccc;
    padding: 1em 0 1em 2em;
}
#quotes.list div.object p{
    padding: 0;
    margin: 0;
    font-style : italic;
}
#quotes.list div.object a{
    font-style : normal;
}

