/* tags */
a.tag{
    background-color:#999;
    background-color: rgba(0,0,0,0.2);
    padding: 0em 1em;
    text-decoration: none;
    color: #fff;
    border-radius: 0.0625em;
    display: inline-block;
    margin-bottom: 0.25em;
    font-size: 0.75em;
    margin-left: 0.625em;
    text-transform: uppercase;
    text-shadow: rgba(0,0,0,0.1) 1px 1px 1px;
}
a.tag:hover{
    background-color: rgba(0,0,0,0.6);
}
.tags span{
    display: none;
}