a.tweet{
    float: left;
    height: 36px;
    width: 44px;
    display: block-inline !important;
    background: transparent url(/images/twitter.png) top left no-repeat;
    text-indent: -20000px;
}
a.tweet:hover{
    background-position: -55px 0 ;
}