h1{font-size: 48px; line-height: 72px;}
h2{font-size: 30px; line-height: 36px;}
h3{font-size: 24px; line-height: 36px;}
h4{font-size: 22px; line-height: 36px;}
h5{font-size: 20px; line-height: 36px;}
h6{font-size: 18px; line-height: 36px;}

body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 18px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
    color: #fff;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover{
    background-color: transparent;
    color: #fff;
}

article{
    font-family: "calluna-1","calluna-2", Georgia, serif;
    font-size: 18px;
    color: #fff;
}
a{
    text-decoration: none;
    color: #EAB800;
}
a:hover{
        background-color: #EAB800;
        color: #000;
}

p.meta{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}
p.meta span{
    display: block;
    line-height: 16px;
}
p.meta span.comments{color: #696969;}
