body,
p,
li,
dl,
td,
th,
a{
    font-family: ff-dagny-web-pro, 'Helvetica Neue', Arial, sans-serif;
}

/* headings */
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: kulturista-web, Times, serif;
    text-transform: uppercase;
    font-weight: 300;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}