body, label{
    
    font-family: "ff-dagny-web-pro-1","ff-dagny-web-pro-2", "Helvetica Neue", Helvetica, Arial;
} 
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1,h2, h3, h4, h5, h6{
    font-family: "chaparral-pro-1","chaparral-pro-2","Georgia", "Times New Roman", Serif;
}

/* form  - input text */
input, textarea{
    font-family: "Helvetica Neue", Helvetica, Arial; 
}
/* form  - help text */
span.help_text{
    font-style: italic;
    font-size: 10px;
    text-transform: uppercase;
}