/* body section */
body{
    background: #000;
    padding-left:20px;
}

body > section{
    width: 950px;
}
/* header */
header{
    width:270px;
    float: left;
}
    header a{
         color: #fff;
         font-size: 14px;
    }
/* primary nav */
nav{
    width: 680px;
    float: right;
    text-align: right;
}
    nav a{
       
    }
    #blog nav a[rel="blog"],
    #portfolio nav a[rel="portfolio"]{
        background-color: #EAB800;
        color: #000;
    }
/* header and nav links */
header, body > section > nav{
    margin: 36px 0;
}
header a, body > section > nav a{
    padding: 5px;
}
/* content */
body > section > section {
    clear: both;
    min-height: 300px;
    margin-bottom: 32px;
}

/*article*/
body > section > section > article {
    background-color: #000;
    padding: 20px;
    width: 710px;
    float: right;
}

article h1{

}