/* body section */
body{
    background: #1B1B1B;
    padding-left:20px;
}

   body > section{
        width: 950px;
    }
    /* header & Nav hover */
        header a:hover, nav a:hover{
            background-color: #1e1e23;
            color: #fff;
        }
    /* header */
    header{
        width:110px;
        float: left;
        padding: 0;
    }
        header a{
             color: #fff;
             font-size: 14px;
             display: block;
             text-indent: -20000px;
             height: 62px;
             width: 62px;
             margin-right: 10px;
             background: transparent url(/img/header.a.bg.png) top left no-repeat;
        }
        header nav a:hover{
            background-color: rgba(120, 90, 50,0.6 );
        }
    /* primary nav */
    nav{
        width: 360px;
        float: left;
        text-align: right center;
    }
        nav a{
            margin : 0;
            color: #999;
            line-height: 72px;
            display: block;
            float: left;
            width: 110px;
            margin-right: 10px;
            text-align:center;
            text-shadow: 1px 1px 1px #000;
        }
        nav a:hover{
            background-color: transparent;
        }
        #blog nav a[rel="blog"],
        #portfolio nav a[rel="portfolio"]{
            color:  #fff;
            font-weight: 900;
        }
    /* header and nav links */
    header, body >  nav{
        margin: 36px 0;
    }
    header a, body > section > nav a{
        padding: 5px;
    }
    /* content */
    body > section {
        clear: both;
        min-height: 300px;
        margin-bottom: 32px;
    }
