body{
    background-color: #303030;
    padding: 10px;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue';
}

/* header */
body > header{
    line-height: 48px;
    padding: 0;
    margin-bottom: 24px;
    clear: both;
    height: 72px;
}
    body > header nav a{
        color: #559F00;
        font-size: 11px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0,0,0,1);
        background-color: #1C1C1C;
        display: block;
        line-height: 72px;
        width: auto;
        padding: 0 10px;
        float: left;
    }
    body#blog > header nav a[rel="blog"],
    body#info > header nav a[rel="info"],
    body#home > header nav a[rel="home"]{
        color: #fff;
    }
    body >  header nav{
        height: 72px;
        background-color: #1C1C1C;
        width: 800px;
    }
    body >  header nav a:hover{
        color: #E4E4E4;
    }
    
    
    body > header nav form{
        float : right;
        position: relative;
        width: 290px;
        background-color: #1C1C1C;
        height: 72px;
    }
    body > header nav form input[type="text"]{
        width: 180px;
        border: 1px solid #fff;
        padding: 4px 4px 3px 4px;
        font-weight: 800;
        background-color: #fff;
        font-size: 12px;
        line-height: 18px;
        margin: 17px -4px 0 10px;
        height: 18px;
        font-family: 'Helvetica Neue';
    }
    body > header nav form input[type="text"]:focus{
        outline: none;
    }
    body > header nav form button{
        line-height: 21px;
        height: 27px;
        width: 77px;
        margin:  21px 0 0 0px;
        background-color: #FFBF00;
        border: 1px solid #FFBF00;
        color: #A86D00;
        text-shadow: 0 1px 1px rgba(255,255,255,0.8);
        vertical-align: top;
        font-weight: 800;
        font-family: 'Helvetica Neue';
        cursor: pointer;
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
    }
    body > header nav form button:hover{
        background-color: #FFBF00;
        border: 1px solid #FFBF00;
        color: #6A4F00;
    }
    body > header nav form ul{
        position: absolute;
        display: none;
        background-color: #151515;
        width: 260px;
        padding: 0 10px 21px 10px;
        z-index: 30000;
        color: #fff;
        
    }
        body > header nav form ul li{
            font-family:georgia;
            color: #999;
            font-size: 12px;
            line-height: 28px;
        }
            body > header nav form ul li label{
                font-family: 'Helvetica Neue';
                color: #ccc;
                font-size: 12px;
            }
/* article */
article{
    padding: 11px 10px 24px 10px;
    margin-bottom: 24px;
    float: left;
    width: 780px;
    background-color: rgba(24, 24, 29, 0.9);
    
}
    article header{
        border-bottom: 1px solid #575757;
        margin-bottom: 24px;
        position: relative;
    }
    article header h1{
        margin-top: 12px;
        margin-bottom: 12px;
    }
    article header p{
        font-size: 20px;
        line-height: 24px;
        color: #fff;
        font-weight: 200;
    }
    article header time{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 11px;
        line-height: 24px;
        padding-bottom: 12px;
    }
    
article img{
    margin: 0 0 42px -10px;
}
    
article p{
    color: #999;
    text-shadow: 0 0 2px #000;
}
/* preview article */
article.preview{
    z-index: 1000;
    width: 270px;
    margin-right: 10px;
    margin-left: 0px;
    position: relative;
    opacity: 0.9;
}
    article span.callout {
        color: #fff;
        text-transform: uppercase;
        position:absolute;
        top:-1px;
        left:0;
        padding: 6px;
        font-size: 10px;
        background-color: #0C0C0C;
        opacity: 0.1;
    }
    article.preview time{
        font-size: 11px;
    }
    article.preview:hover{
        opacity: 1;
        z-index: 20000;
    }
    article.preview:hover span{
        opacity: 0.8;
    }
    article.preview img{
        margin: -12px 0 -5px -10px;
        padding: 0;
    }
    article.preview h2{
        color: #70BD00;
    }
    article.preview p{
        font-family: georgia;
        font-size: 14px;
        font-weight: 400;
        font-style: italic;
    }

/* comments */
aside.comments{
    clear : left;
    background: #efefee;
}


nav.local{
    color: #fff;
    padding: 0 10px;
    width: 170px;
    padding-bottom: 32px;
    margin-right: 10px;
    float: left;
    height: 100%;
    background-color: rgba(24, 24, 29, 0.9);
}
    nav.local h3{

    }
    nav.local a{
        font-size: 11px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        line-height: 28px;
        text-shadow: 1px 1px 1px rgba(0,0,0,1);
        background-color: #1C1C1C;
    }
    nav.local a:hover{
        color: #fff;
    }
div.content{
    float: left;
    width: auto;
}
div.gallery {
    margin-left: 30px;
}
div.gallery a{
    display: block;
    float: left;
    margin-right: 10px;
    width: 240px;
}

/* tags */
p.tags{
    text-transform: uppercase;
    font-size: 10px;
    line-height:24px;
    padding: 0 0 11px 0;
    margin: 0;
}
p.tags a{
    margin-left: 5px;
}
a[rel="tag"]{
    color:#A05C00;
    font-weight: 500;
    background-color: #FFAF00;
    padding: 2px 5px;
    text-shadow: 0 0 1px #fff;
    border-radius: 2px;
}
a[rel="tag"]:hover{
        color: #512E00;
}

/* related */
aside.related{
    float:left;
    clear: left;
    width: 800px;
}
aside.related div{
    float: left;
    margin-right: 10px;
    width: 140px;
    height: 96px;
    margin-bottom: 24px;
}
aside.related div img, aside.related div h6{
    position: absolute;
}
aside.related div a h6{
    color: #999;
    font-weight: 400;
    font-size: 12px;
    background-color: rgba(0,0,0,0.6);
    padding: 5px;
    width: 130px;
    height: 86px;
}
aside.related div a:hover h6{
    background-color: rgba(0,0,0,0.1);
    color: #fff;
}