body{
    padding: 15px;
}
header form{
    display: block;
    clear: left;
    background-color:#2D2D2D;
    border-top: 1px solid #353535;
    width: 296px;
    margin: 0;
    padding: 10px 14px 11px;
}
header form{
    width: 262px !important;
}
header form input{
    margin: 14px 0 0 0 !important;
    width: 166px !important;
}
div#grid-vertical,div#grid-horizontal,div#grid-toggle{
    display: none !important;
}
