header form{
    display: block;
    clear: left;
    background-color:#2D2D2D;
    border-top: 1px solid #353535;
    width: 296px;
    margin: 0;
    padding: 10px 14px 11px;
}

header form input{
    width: 205px;
}
