<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0 width=device-width">
		<title>{% block title %}{% endblock %}</title>
		{% if DEBUG == True %}
		<link rel="stylesheet" href="/static/css/global.css" media="screen" type="text/css">
		<link rel="stylesheet" href="/static/css/syntax.css" media="screen" type="text/css">
		<link rel="stylesheet" href="/static/css/devices.css" media="screen" type="text/css">
		{% else %}
		<link rel="stylesheet" href="/static/css/production.css" media="screen" type="text/css">
		{% endif %}
		{% block css %}
		{% endblock %}
	</head>
	<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
		<header class="primary">
			<h6>
				<a href="/">J<span>amie</span> C<span>urle</span></a>
			</h6>
			<nav>
				<a href="/about.html">About Me</a>
				<a href="/blog.html">Blog</a>
				<a href="/projects.html">Projects</a>
			</nav>
		</header>

		<div class="content">
			{% block content %}
			<article>
			{{content}}
			</article>
			{% endblock %}
		</div>
		
		<footer class="license">
			<p>
				Content licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
				Attribute "Jamie Curle - http://jamiecurle.com"
			</p>
		</footer>
<script src="/static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
{% block js %}
{% endblock %}
	</body>
</html>
