{% extends 'base.html' %}

{% load utils %}

{% block head %}

<link rel="stylesheet" href="{{MEDIA_URL}}css/tagged.css" media="screen">

<style type="text/css" media="screen">
	div.object { border-left: 0.4em solid #ccc}
	{% for thing in tagged_objects %}
		{% if thing.content_object.created %}
		#thing{{thing.pk}}{border-left: 0.4em solid {{thing.content_object.created|color_for_date}}}
		{% endif %}
	{% endfor %}
</style>
{% endblock %}

{% block content %}
<h1><span class="mute">Stuff tagged with </span>&ldquo;{{tag}}&rdquo;</h1>

	{% for thing in tagged_objects %}
	<div class="object tagged_object" id="thing{{thing.pk}}">
		<a href="{{thing.content_object.get_absolute_url}}" >
		<span class="content-type">({{thing.content_object|friendly_model_name}})</span>
		{% if thing.content_object.title and thing.content_object.description %}
		{{thing.content_object.title}} - <span class="description">{{thing.content_object.description|safe}}</span>
		{% else %}
		{{thing.content_object.description|safe}}
		{% endif %}
		</a>
	</div>
	{% endfor %}
{% endblock %}


