{% extends 'base.html' %}

{% load utils %}

{% block head %}
<style type="text/css" media="screen">
	{% for post in tagged_objects %}
		#blog{{post.pk}}{border-left: 0.4em solid {{post.created|color_for_date}}}
	{% endfor %}
</style>
{% endblock %}

{% block content %}
<h1>Stuff tagged as &ldquo;{{tag}}&rdquo;</h1>
	{% for post in tagged_objects %}
	<div id="blog{{post.pk}}"class="object blog">
		<time datetime="{{post.created|date:"c"}}"> {{post.created|date:"d M Y"}}</time>
		<h1><a href="{{post.get_absolute_url}}">{{post}}</a></h1>
		<p>{{post.description}}</p>
	</div>
	{% endfor %}
{% endblock %}


