{% extends 'posts/base_posts.html' %}
{% load posts_tags %}

{% block head %}
	<link rel="stylesheet" href="{{MEDIA_URL}}css/jc.objects.css" type="text/css">
	<link rel="stylesheet" href="{{MEDIA_URL}}css/jc.posts.css" type="text/css">
{% endblock %}

{% block meta %}
<div class="meta">
	<p>All of my posts in {{year}}</p>
</div>
{% endblock %}

{% block content_posts %}



<ul class="object">
	{% for month in months %}
	<li class="invert"><a href="{% url posts:archive_month year month.0 %}"> {{month.0|month_name}} {{year}} - {{month.1}} Post{{month.1|pluralize}}</a></li>
	{% endfor %}
</ul>

{% endblock %}