{% extends 'posts/base_posts.html' %}
{% load blog_tags %}

{% load utils %}

{% block head %}
<style type="text/css" media="screen">
	{% for post in posts %}
		#blog{{post.pk}}{border-left: 0.4em solid {{post.created|color_for_date}}}
	{% endfor %}
</style>
{% endblock %}

{% block content %}
	{% for post in posts %}
	<div id="blog{{post.pk}}"class="object blog">
		<time datetime="{{post.created|date:"c"}}"> {{post.created|date:"d M Y"}}</time>
		<h1><a href="{{post.get_absolute_url}}">{{post}}</a></h1>
		<p>{{post.description}}</p>
	</div>
	{% endfor %}
{% endblock %}