{% extends 'base.html' %}
{% load form_utils_tags %}

{% block body %}

<form action="" method="post">
	<div class="container">
		{% csrf_token %}
		{{form|render}}
		
	
		<fieldset class="collapsable">
			<p> <a href="#" class="collapser"> <span>Show</span> Images </a> </p>
			<div>
			{{ blogimage_formset.management_form }}
			{% for form in blogimage_formset.forms %}
				<ul class="inline">
				{{form.as_ul}}
				</ul>
			{% endfor %}
			</div>
		</fieldset>
		
		<button type="submit">Go</button>
	</div>
</form>
{% endblock %}