{% extends 'base.html' %}
{% load form_utils_tags %}

{% block body %}

<form action="" method="post" enctype="multipart/form-data">
	<div class="container">
		{% csrf_token %}
		{{form|render}}
		
	{{blogimage_formset.media}}
		<fieldset class="collapsable-inline">
			<p> <a href="#"> <span>Show</span> Images </a> </p>
			{{ blogimage_formset.management_form }}
			{% for form in blogimage_formset.forms %}
				<ul class="inline {% if form.errors %} errors {% endif %}">
				{{form.as_ul}}
				</ul>
			{% endfor %}
		</fieldset>
		
		<button type="submit">Go</button>
	</div>
</form>
{% endblock %}