{% extends 'base.html' %}
{% load form_utils_tags %}

{% block body %}

<form action="" method="post" enctype="multipart/form-data">
	<div class="container">
		{% csrf_token %}
		{{form|render}}
		
		{% with blogimage_formset as formset %}
		{{formset_media}}
		<fieldset class="collapsable-inline orderable drag">
			<p> <a href="#"> <span>Show</span> {% if formset.errors %}all {% endif %} Images </a> </p>
			{{ formset.management_form }}
			{% for form in formset.forms %}
				<ul data-markdown="![{{form.instance.title}}]({{form.instance.l}})" class="inline {% if form.errors %} errors {% endif %} {% if form.instance.pk %} forms-no-delete {% endif %}">
				{{form.as_ul}}
				</ul>
			{% endfor %}
		</fieldset>
		{% endwith %}
		
		<button type="submit">Go</button>
	</div>
</form>
{% endblock %}