{% extends 'posts/base_posts.html' %}
{% load disqus_tags utils blog_tags stat_tags %}

{% block title %} {{post.title}} - {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/blog.css" type="text/css">
<link rel="stylesheet" href="{{MEDIA_URL}}css/syntax.css" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
<style type="text/css" media="screen">
	#blog.show .content header{
		margin-bottom: 2em;
		border-bottom: 0.6em solid {{post.created|color_for_date }};
	}
</style>
{% endblock %}

{% block bodyclass %}show{% endblock %}




{% block content %}


<article id="jamiecurle_com-post-{{post.pk}}">
	<header>
		<h1>{{post.title}}</h1>
		<p class="description">{{post.description}}</p>
	</header>



	<div class="body">
		{{post.content_rendered|safe}}
	</div>
	
	<footer>
		<p class="time">
			Published <time datetime="{{post.created|date:"c"}}">{{post.created|date:"F d Y"}}</time>
		</p>

		<p class="tags">
		{% for t in post.tags.all %} <a class="tag" href="{% url tags:tag_list t.slug %}">{{t.name}}</a>{% endfor %}
		</p>
		{% if post|has_previous %}
		<p class="prev">
			{% previous_post post %}
		</p>
		{% endif %}
		 
		{% if post|has_next %}
		<p class="next">
			{% next_post post %}
		</p>
		{% endif %}

	</footer>
	
</article>
<div class="comments">
	<h1> Comments </h1>
	{% if debug %}{% disqus_dev %}{% endif %}
{% disqus_show_comments %}	
</div>
{% endblock %}

{% block secondary %}
<aside>
	<p class="time">
		Published <time datetime="{{post.created|date:"c"}}">{{post.created|date:"F d Y"}}</time>
	</p>
	<p class="tags">
	{% for t in post.tags.all %} <a class="tag" href="{% url tags:tag_list t.slug %}">{{t.name}}</a>{% endfor %}
	</p>
	{% if post|has_next %}
	<p class="next">
		{% next_post post %}
	</p>
	{% endif %}
	{% if post|has_previous %}
	<p class="prev">
		{% previous_post post %}
	</p>
	{% endif %}
</aside>
{% endblock %}

{% block js %}
<script src="{{MEDIA_URL}}js/jquery.fitvids.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
	$('article').fitVids();
</script>
{% endblock %}
