{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{MEDIA_URL}}/css/jc.home.css" type="text/css">
<link rel="stylesheet" href="{{MEDIA_URL}}/css/jc.objects.css" type="text/css">
{% endblock %}


{% block content %}

{% for post in posts %}
{% if forloop.counter <= 5 %}
<div class="object {% if forloop.counter == 1 %} l{% else %} t{% endif %}">
	<a href="{{post.get_absolute_url}}"  style="background-image: url({% if forloop.counter == 1 %} {{post.img.l}}{% else %} {{post.img.t}}{% endif %})">
	<p><a href="{{post.get_absolute_url}}">{{post.title}}</a></p>
	</a>
</div>
{% else %}
<ul class="object">
	<li><a href="{{post.get_absolute_url}}">{{post.title}}</a></li>
</ul>
{% endif %}

{% endfor %}

{% endblock %}