{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{MEDIA_URL}}/css/jc.home.css" type="text/css">
<link rel="stylesheet" href="{{MEDIA_URL}}/css/jc.objects.css" type="text/css">
{% endblock %}

{% block meta %}
<div class="meta">
	<p>
		Hello, I'm Jamie Curle and do many things. In order to help me and my family play capitalism
		I accept money in exchange for <a href="http://designcc.co.uk">web design & development services</a>
		and also for being a creative educator. I used to get paid to play the drums, but I do that for
		fun now. 
	</p>
	<p>
		In my spare time you'll probably find me picking up heavy things and putting them back down again, 
		eating, relaxing with my wife and cat or (most probably) loitering in the greenhouse.
	</p>
	<p> 
		I bleat on about various ideas and attempt to hold peoples interest on
		<a href="http://twitter.com/jamiecurle">twitter</a>. I'm also on linkdin, github and a few other places.  Get in touch
		on twitter if there's something you'd like to chat about.
	</p>
	<p>
		If you prefer to do things old school you can always email &mdash; me at jamiecurle dot com.
	</p>
</div>
{% endblock %}

{% block id %}home{% endblock %}

{% block content %}
	{% for post in posts %}
		
		{% if forloop.counter <= 5 %}
			<div class="object {% if forloop.counter == 1 %} l {% else %} m {% endif %}">
				<a href="{{post.get_absolute_url}}"  style="background-image: url({% if forloop.counter == 1 %} {{post.img.f}}{% else %} {{post.img.m}}{% endif %})"></a>
				<p><a href="{{post.get_absolute_url}}">{{post.title}}</a></p>
			</div>
		{% else %}
			{% if forloop.counter == 6 %}
			<ul class="object">
			{% endif %}	
			<li><a href="{{post.get_absolute_url}}">{{post.title}}</a></li>
			{% if forloop.last %}
			<li class="invert"><a href="{% url posts:archive_year 2011 %}">Browse 2011 Archive</a></li>
			<li class="invert"><a href="{% url posts:archive_year 2010 %}">Browse 2010 Archive</a></li>
			</ul>
			{% endif %}
		{% endif %}
	{% endfor %}
{% endblock %}