Django==1.3.1
django-compressor
south
johnny-cache
django-debug
django-taggit
BeautifulSoup
django-form-utils
markdown
pygments
django-disqus
python-twitter
https://github.com/jamiecurle/python-pinboard/tarball/master


