textile
pygments
hg+https://jamiecurle@bitbucket.org/andrewgodwin/south/
BeautifulSoup
git+http://github.com/mintchaos/django_compressor.git
Django
django-debug-toolbar
django-tagging
django-disqus
django-haystack
whoosh