Django==1.3
django-compressor
south
johnny-cache
django-debug
django-taggit
BeautifulSoup
django-form-utils
markdown
pygments
django-disqus
https://github.com/jamiecurle/python-lastfm/tarball/master


