#posts.show .content .comments{
    width: 90%;
    min-width: 700px;
    max-width: 1200px;

}
  #posts.show .content .comments #disqus_thread{
    width: 64%;
    padding: 2%;
    float: right;
    background-color: rgba(255,255,255,0.6);
    font-family: "Helvetica Neue", Helvetica, Arial !important;
    font-size: 140%;
  }
#posts.show .content > article{
    width: 90%;
    min-width: 700px;
    max-width: 1200px;
}
  #posts.show .content > article header {
    position: relative;
    padding: 0;
  }
    #posts.show .content > article .time{
      font-family: "ff-dagny-web-pro-1","ff-dagny-web-pro-2", "Helvetica Neue", Helvetica, Arial, "Sans Serif";
      font-size: 14px;
      font-weight: 500;
      color: #7A7777;
      margin-bottom: 0px;
      text-indent: 0;
    }
    #posts.show .content > article time{
      font-weight: 800;
    }
    #posts.show .content > article p{
      text-indent: 10px;
    }
    #posts.show .content > article header h1{
      width: 68%;
      float: right;
      border-bottom: 1px solid #999;
      padding-bottom: 25px;
      margin-bottom: 0;
    }
    #posts.show .content > article p.description{
      font-family: "ff-dagny-web-pro-1","ff-dagny-web-pro-2";
      font-weight: 300;
      font-size: 120%;
      text-indent: 0;
      margin-top: 0;
    }
    #posts.show .content > article div{
      padding: 25px 0;
      float: left;
    }
    #posts.show .content > article .meta{
      width: 24%;
      margin : 0;
      padding: 0 3% 0 0;
      max-width: 360px;
      position: fixed;
    }
    #posts.show .content > article .body{
      width: 68%;
      border-top: 1px solid #fff;
      float: right;
    }
      #posts.show .content > article .body img, 
      #posts.show .content > article .body object,
      #posts.show .content > article .body embed{
        width: 100%;
        float: left;
        margin-bottom: 25px;
      }
      #posts.show .content > article .body object,
      #posts.show .content > article .body embed{
              height: 400px;
      }
  #posts.show .content aside.related{
    width: 90%;
    min-width: 700px;
    max-width: 1200px;
    margin-bottom: 25px;
  }
  #posts.show .content aside.related div{
    margin-left: 30%;
  }
  #posts.show .content aside.related h2{
    color: #cdcdcd;
    margin-bottom: 25px;
  }
  #posts.show .content aside.related article{
    margin-bottom: 10px;
  }
  #posts.show .content aside.related a{
    display: block;
    opacity: 0.6;
    text-decoration: none;
    border-radius: 3px;
    color: #666;
    background-color: #E5E5E5;
    -webkit-transition: all .2s ease-in-out;
    border-bottom: 0 none;
    font-weight: 400;
  }
  #posts.show .content aside.related a:hover{
    color: #eee;
    background-color: #323232;
    opacity: 1;
    text-shadow: 0 0 2px #999;
  }
  #posts.show .content aside.related img{
    width: 40px;
    height: 40px;
    margin: 0 10px 0 0;
    vertical-align: middle;
  }
