input, textarea{
    font-family: "chaparral-pro-1","chaparral-pro-2","Georgia", "Times New Roman", Serif;
    font-size: 18px;
    width: 100%;
}
input[type="submit"]{
  width: auto;
}

fieldset{
  border: 0;
  margin-top: 3px;
  height: 100%;
}

form{
  width: 90%;
}


footer{
  display: none;
}

#blog_images div{
  float: left;
  padding: 0;
}
#blog_images img{
  margin: 0;
  padding: 0;
}
#blog_images a{
  color: transparent;
  border: 0 none;
  opacity: 0.3;
  display: block;
  padding: 0 !important;
  margin: 5px;
  height: 105px;
}

#blog_images a.poster{
  opacity: 1;
  margin: 0;
  border: 5px solid #f90;
  background-color: transparent;
}