input, textarea{
    font-family: "chaparral-pro-1","chaparral-pro-2","Georgia", "Times New Roman", Serif;
    font-size: 18px;
    width: 100%;
}
input[type="submit"]{
  width: auto;
}

fieldset{
  border: 0;
  margin-top: 3px;
  height: 100%;
}

form{
  width: 90%;
}


footer{
  display: none;
}
