/* 
	START LAYOUT 
*/
body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #fafafa;
    color: #555;
}

.content, footer.license{
    max-width: 52.5626em;
    padding: 2em;
    background-color: #fff;
    display: block;
    width: 58%;

}
.content:before,
.content:after {
    content:"";
    display:table;
}

.content:after {
    clear:both;
}
.content img{
	width: 100%;
	max-width: 100%;
}
footer.license{
	background-color: #000;
	color: #999;
}
footer.license p {
	text-transform: uppercase;
	font-size: 0.7em;
	margin: 0;
	padding: 0;
}
footer.license p a{
	color:#fff;
}
/* nav */
nav a{
	display: inline-block;
}
/* links */
a{
    font-weight: 900;
    color: #000;
    text-decoration: none;
    padding: 0.1em;
    -webkit-transition: all 0.1s ease-in;
}

p a, li a{
    color: #F5000E;
}
a:hover{
    color: #F5000E;
}
p a:hover{
    background-color: #F9F8F5;
}

/* jc logo thing */
	header.primary h1{
		letter-spacing: -0.15em;
		margin: 0.5em;
		font-size: 3em;
		float: left;
	}
	header.primary h1 span{
	  display: none;
	}

	header.primary h1 a{
		border-radius: 3px;
		background-color: #000;
		border-radius:;
		color: #fff;
		padding: 0.4em 0.4em 0.4em 0.25em;
		display: inline-block;
		width: auto;
		text-align: center;
		font-weight: 400;
	}
	header.primary h1 a:hover{
		background-color: #F5000E;
	}


		header.primary nav{
			vertical-align: top;
			margin-top: 20px;
			width: auto;
			border-top: 1px solid;
			text-align: right;
			float: right;
		}
		header.primary nav a{
			font-weight: 500;
			text-transform: uppercase;
			font-size: 0.8em;
			text-shadow: 1px 1px 1px #fff;

		}
/*
	END LAYOUT
*/


/* 
	START TYPOGRAPHY 
*/
body,
p,
li,
dl,
td,
th
{
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 1.5em;
    line-height: 1.75em;
}
/* headings */
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Helvetica Neue', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: -0.0325em;
    font-weight: 500;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.01);
    line-height: 1em;
    color: #111;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

h1{
    font-size: 4em;
    line-height: 1em;
}

.content h1:nth-of-type(1){
    margin-top: 0;
}


blockquote{
    padding-left: 2em;
    border-left: 0.3em solid #ddd;
}

blockquote p, blockquote p:first-child{
    font-family: Georgia, serif !important;
    font-weight: 400 !important;
    color: #999 !important;
    font-size: 1em !important;
}

span.mute{
    color: #ccc;
    font-weight: 300;
}

img.description{
    vertical-align: middle;
}

span.content-type{
    color: #999;
    font-weight: 200;
    font-style: italic;
}

em{
    font-family: Georgia, serif;
    color: #ccc;
    font-style: italic;
    padding: 0 0.5em;
}
/*
	 END TYPOGRAPHY
*/
/*
	START OBJECTS
*/
/* blogs */
.blog.object{
	margin: 0 0 2em 0;
	padding: 1em 0 1em 2em;
	height: 100%;
	clear: both;
	border-left: 0.4em solid;
	position: relative;

}
.blog.object time{
	position: absolute;
	right: 0;
	top: 0;
}
.blog.object:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

    .blog.object h1, .blog.object p{
        float: left;
        width: 90%;
    }
.blog h1{
    font-size: 2em;
    line-height: 1.1em !important;
    margin: 0 0 0.25em;
	padding: 0;
}
.blog h1 a{
    font-weight: 500;
}
.blog p{
    font-size: 1em;
    font-family: Georgia, serif;
    font-style: italic;
    color: #aaa;
	margin: 0;
}

.blog.object time{
    float: right;
    text-align: right;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #CCC;
    font-weight: 200;
}
/* tags */

.object.tagged_object{
    margin-bottom: 1em;
    padding: 1em;
    margin: 1em;
    border-left: 0.4em solid #999
}


/*
	END OBJECTS
*/
/*
	START BLOGS
*/
#blog.show .content header{
    margin-bottom: 2em;
	border-bottom: 1em solid;
}
    #blog.show .content header h1{
        font-weight: 900;
        margin: 0 0 0.5em 0;
    }
    
    #blog.show .content header p{
        font-size: 2em;
        line-height: 1.2em;
        font-weight: 500;
        margin-bottom: 1em;
        font-family: georgia;
        font-style: italic;
        color: #999;
    }
	#blog.show .content header p.meta{
		font-size: 0.8em;
		padding: 0.4em;
		color: rgba(255,255,255,0.7);
		font-family: "Helvetica Neue", Helvetica, Arial, SansSerif;
		text-transform: uppercase;
	}

#blog.show .content div.body img{
    width: 100%;
    max-width: 100%;
}

div.fluid-width-video-wrapper{
    margin-bottom: 2em;
}
#blog.show .content div.body p:first-child{
    font-weight: 800;
    font-size: 1.25em;
}
#blog.show aside{
    text-align: right;
     margin-bottom: 3em;
}
#blog.show aside p.time{
    font-weight: 500;
    font-size: 1.25em;
    line-height: 0.8em;
    color : #BBB;
    text-transform: uppercase;
}
#blog.show .content footer{
    display: none;
    color : #BBB;
    text-transform: uppercase;
    border-top: 0.6em solid #ccc;
    margin-top: 2em;
    padding-top: 2em;
    border-bottom: 0.6em solid #ccc;
    margin-bottom: 2em;
}
#blog.show .content div.body li p:first-child{
    font-weight: 500;
    font-size: 1em;
}
#blog.show .content footer p{
    display: inline-block;
    width: 48%;
    vertical-align: top;
}
#blog.show .content footer p.time{
    font-weight: 500;
    font-size: 1.25em;
    line-height: 0.8em;    
}

.comments{
    clear: both;
}
.secondary h3{
    text-align: right;
    color : #BBB;
}

.secondary p.next,
.secondary p.prev{
    font-size: 0.8em;
}
.comments h1{
    color : #BBB;
}


p.meta{
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size: 0.7em;
	text-transform: uppercase;
	font-style: none;
}