
div.object{
    max-width: 100%;
    width: 100%;
    display: inline-block;

    position: relative;
}


div.object h1{
    margin: 2% 0 0 0;
    padding: 0.5em;
    font-size: 2em;
    background-color: #bf3e34;
    width: auto;
}
    div.object a h1 {
        color: #fff;
    }

div.object img{
    border: 1px solid #DADADA;
    padding: 0.5%;
    margin-left: 0.8%;
    background-color: rgba(0,0,0, 0.05);
    width: 36%;
    float: left;
}

div.object  p{
    display: inline-block;
    margin: 2% 0 0 1%;
    font-size: 1em;
    width: 53.75%;
    float: right;
}

div.object a p{
    color: #3e3e3e;
}
div.object p.meta a{
    color: #BEBEBE;
}
div.object p.meta a.tag{
    color: #fff;
}

div.object p.preview{
    font-size: 1em;
    font-weight: 100;
    display: none;
}
div.object p.meta{
    font-size: 0.75em;
}
/* all sizes 
div.object{
    display: inline-block;
    float: left;
    margin: 0 0 21px 0;
    position: relative;
    background-color: #393939;
    background-color: rgba(0,0,0,0.6);
}
    div.object > a{
        display: block;
        width: 100%;
        height: 100%;
        opacity:0.6;
        color: #fff;
        -webkit-transition: opacity 200ms ease-out 100ms;
    }
    div.object > a:hover{
        opacity: 1;
    }

    div.object p{
        opacity: 1;
        position: absolute;
        bottom: 0;
        padding: 5px;
        font-size: 11px;
        background-color: #393939;
        background-color: rgba(0,0,0,0.6);
    }
     div.object p a{
         color: #fff;
     }
*/
/* medium stuff 
    div.object.m{
        width: 294px;
        height: 160px;
    }
        div.m:nth-of-type(odd){
            margin-right: 21px;
        }
        
/* large stuff 
div.object.l{
    width: 612px;
    height: 340px;
    margin-right: 0;
}
    div.object.l > a{
        background-position: center center;
    }
*/
/* object lists
ul.object{
    margin: 21px 0 0 0;
    padding: 0;
    list-style: none;
    width: 612px;
}
ul.object li{
    clear: both;
    display: block;
    padding: 0;
    font-size: 11px;
    margin-bottom: 21px;
}
ul.object li a {
    display: block;
    padding: 5px;
    color: #fff;
    background-color: #656565;
    background-color: rgba(0,0,0,0.2);
    -webkit-transition: background-color 100ms ease-out;
}
    ul.object li a:hover{
        background-color: #000;
    }

ul.object li.invert a{
    color: #333;
    background-color: #ccc;
    background-color: rgba(255,255,255,0.5);
}
    ul.object li.invert a:hover{
        background-color: #fff;
        color: #000;
}*/