{% extends 'admin/change_form.html' %}


{% block extrastyle %}
{{block.super}}
<style>
#id_content.fullscreen{
	width: 96%;
	height: 600px;
	padding: 2%;
	font-size: 18px;
	font-family: Inconsolata;
	line-height: 28px;
	color: #2E2E2E;
	background-color: #fff;
	position: absolute;
	top: -5px;
	left : 0;
	z-index: 4000;
	outline:none;
	border: 1px solid #141414;
}
div#ajax_save{
	width: 80px;
	height: 80px;
	background-color: rgba(0,0,0,0.9);
	background-image: url(http://media.jamiecurle.com/img/progress.gif);
	background-position: 32px 40px;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 18px;
	text-transform : uppercase;
	font-family: 'Helvetica Neue';
	position: fixed;
	top:38%;
	left: 48%;
	text-align: center;
	padding: 10px;
	border-radius: 3px;
	z-index: 4001;
	display: none;
}
</style>
<script src="http://code.jquery.com/jquery-1.7.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
	$(function(){
		// add the saving div
		$('body').append('<div id="ajax_save">Saving</div>')
		//url
		url = window.location.href
		
		function submit(){
			$('#ajax_save').show()
			data = $('#content-main form').serialize()
			$.ajax({
			  type: 'POST',
			  url: url,
			  data: data,
				success : function(){
					$('#ajax_save').fadeOut(200)
				}
			});
		}
		
		$('#id_content').click(function(){
			$(this).addClass('fullscreen');
			$(this).height($(document).height());
		});
		$(document).keyup(function(e) { 
		    if (e.which == 27) { $('#id_content').removeClass('fullscreen'); $('#id_content').height(200)} ;
		});
		$(window).keypress(function(event) {
		    if (!(event.which == 115 && event.metaKey) && !(event.which == 19)) return true;
			submit()
		    event.preventDefault();
		    return false;
		});
	});
</script>
{% endblock %}