{% extends 'base.html' %}

{% block body_id %}blog{% endblock %}
{% block body_class %}show{% endblock%}

{% block content %}
<article>
	<header style="border-bottom-color: {{post.created|colour_for_date}}">
		<h1>{{post.title}}</h1>
		<p class="meta">
			Posted {{post.created|datetimeformat}}. 
			<span> Tagged with </span>{% for tag in post.tags %}<a class="tag" href="/tags/{{tag}}/">{{tag}}</a><span>{% if loop.last %}.{% else %}, {% endif %}</span>{% endfor %}
		</p>

	</header>

		<p class="description">{{post.description}}</p>

	{{post.content|render|safe}}
</article>
<div class="secondary">
	<h3> Archives </h3>
	<nav>
		<h4>By Date</h4>
		{% for key, date in dates.items() %}
		<a href="/blog/{{date[0].year}}/{{date[0].month}}/" {% if loop.index > 12 %}class="stale"{% endif %}>{{date[0]|archivedateformat}} <span>({{date[1]}})</span></a>
		{% endfor %}
	</nav>
	<nav>
		<h4>By Tag</h4>
		{% for tag, count in tags %}
		<a href="/tags/{{tag}}/" {% if loop.index > 12 %}class="stale"{% endif %}>{{tag|title}} <span>({{count}})</span></a>
		{% endfor %}
	</nav>
</div>
<div id="disqus_thread"></div>
{% endblock %}


{% block js %}
<script src="/static/js/fitvids.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/blog.archive.js"></script>

{% endblock %}
