{% extends 'base.html' %}

{% block title %} Posts tagged with &ldquo;{{tag}}&rdquo; {% endblock %}

{% block body_class %}list{% endblock %}

{% block content %}
	<h1>Tags</h1>
	<ul>
		{% for tag, count in tags.items() %}
		<li><a href="/tags/{{tag}}/">{{tag|title}} <span>({{count}})</span></a></li>
		{% endfor %}
	</ul>
	<div class="secondary">
		<h3> Archives </h3>
		<nav>
			<h4>By Date</h4>
			{% for key, date in dates.items() %}
			<a href="/blog/{{date[0].year}}/{{date[0].month}}/" {% if loop.index > 12 %}class="stale"{% endif %}>{{date[0]|archivedateformat}} <span>({{date[1]}})</span></a>
			{% endfor %}
		</nav>
		<nav>
			<h4>By Tag</h4>
			{% for tag, count in tags %}
			<a href="/tags/{{tag}}/" {% if loop.index > 12 %}class="stale"{% endif %}>{{tag|title}} <span>({{count}})</span></a>
			{% endfor %}
		</nav>
	</div>
	
{% endblock %}
