{% extends 'base.html' %}

{% block nav_class %}grid{% endblock %}

{% block article %}
    <h2>Search</h2>
	{% if results.spelling_suggestion %}
	<p>
		Did you mean <a href="{% url search %}?q={{results.spelling_suggestion}}">{{results.spelling_suggestion}}</a>?
	</p>
	
	<hr >
	{% endif %}
        {% if query %}
            {% for result in page.object_list %}
				<article class="preview {{result.verbose_name}}">
					<a href="{{result.object.get_absolute_url}}">
						<img src="{{result.object.img.l}}" alt="{{result.object.img.title}}">
						<h1>{{result.object.title}}</h1>
						<time datetime="{{result.created|date:"Y-m-dTH-i-s"}}" pubdate>{{result.created|date:"jS F Y"}}.</time>
						<p>{{result.object.description|truncatewords:15}}.</p>
					</a>
				</article>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
{% endblock %}
{% block extra_script %}
<script src="{{MEDIA_URL}}js/jquery/matching.heights.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
$(function(){
    $('article.preview').sameheight(); 
	$('article.preview').each(function(){
		var callout = '<span class="callout">' + $(this).attr('class').split(' ').slice(-1) + '</span>';
		$(this).find('a').html(callout+$(this).find('a').html())
	})
});
</script>
{% endblock %}