{% extends 'blog/blog_base.html' %}
{% block blog_title %}Archive - {% endblock %}

{% block body_class %}archive{% endblock %}
{% block nav_class %}grid{% endblock %}
{% block article %}
{% for post in posts %}
<article class="preview blog">
	<a href="{{post.get_absolute_url}}">
		<img src="{{post.img.l}}" alt="{{post.img.title}}">
		<h2>{{post.title}} </h2>
		<time>{{post.created|date:"jS F Y"}}.</time>
		<p>{{post.description|truncatewords:15}}.</p>
		
	</a>
</article>
{% endfor %}
{% endblock %}

{% block extra_script %}
<script src="{{MEDIA_URL}}js/jquery/matching.heights.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
$(function(){
    $('article.preview').sameheight(); 
	$('article.preview').each(function(){
		var callout = '<span class="callout">' + $(this).attr('class').split(' ').slice(-1) + '</span>';
		$(this).find('a').html(callout+$(this).find('a').html())
	})
});
</script>
{% endblock %}