{% extends 'blog/blog_base.html' %}
{% load blog %}
{% block blog_title %}{{view_date|date:"F Y"}} - {% endblock %}
{% block body_class %}archive {{view_date|date:"bY"}}{% endblock %}
{% block blog_extra_style %}
	<style>
		body.{{view_date|date:"bY"}} li.{{view_date|date:'b'}} a{
			background-color: #fff;
			text-shadow: 1px 1px 1px #999;
			color: #151518;
		}
	</style>
{% endblock %}

{% block nav_class %}grid{% endblock %}
{% block article %}
<h1>{{view_date|date:"F Y"}}</h1>
{% for post in posts %}

<article class="preview blog">
	<a href="{{post.get_absolute_url}}">
		<img src="{{post.img.l}}" alt="{{post.img.title}}">
		<h2>{{post.title}} </h2>
		<time>{{post.created|date:"jS F Y"}}.</time>
		<p>{{post.description|truncatewords:15}}.</p>
	</a>
</article>
{% endfor %}
<nav class="archive">
	{% blog_archive_nav %}

</nav>
{% endblock %}

{% block extra_script %}
<script src="{{MEDIA_URL}}js/jquery/matching.heights.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
$(function(){
    $('article.preview').sameheight(); 
	$('article.preview').each(function(){
		var callout = '<span class="callout">' + $(this).attr('class').split(' ').slice(-1) + '</span>';
		$(this).find('a').html(callout+$(this).find('a').html())
	})
});
</script>
{% endblock %}