{% extends 'blog/blog_base.html' %}
{% load blog webdesign markup disqus_tags %}

{% block blog_title %}{{post.title}} {% endblock %}
{% block blog_extra_style %}
	{% render_asset post css %}
{% endblock %}
{% block body_class %}post{% endblock %}
{% block blog_article %}
<p class="meta">
	<span class="created">{{post.created|date:"jS F Y"}}.</span>
	<span class="comments"></span>
</p>
<div class="content">
	<article>
		{{post.content|render}}
	</article>
</div>
{% disqus_dev %}
{% disqus_show_comments %}
{% endblock %}


{% block blog_extra_script %}
	{% render_asset post js %}
{% endblock %}