{% extends 'blog/blog_base.html' %}
{% load disqus_tags assets %}

{% block blog_title %}{{post.title}} {% endblock %}
{% block blog_extra_style %}
	{% render_asset post css %}
{% endblock %}


{% block body_class %}post{% endblock %}


{% block blog_article %}
<article>
	<header>
		<h1>{{post.title}}</h1>
		<p>
			{{post.description}}
		</p>
		<time>{{post.created|date:"jS F Y"}}.</time>
	</header>
	{% render_field post.content %}
</article>

<aside class="comments">
{% disqus_show_comments %}
</aside>
{% endblock %}

{% block blog_extra_script %}
	{% render_asset post js %}
{% endblock %}