{% extends 'blog/blog_base.html' %}
{% load comments blog webdesign markup %}
{% block blog_title %}{{post.title}} {% endblock %}
{% block blog_extra_style %}
	{% render_asset post css %}
{% endblock %}
{% block body_class %}post{% endblock %}
{% block blog_article %}
{% get_comment_count for post as comment_count %}
<p class="meta">
	<span class="created">{{post.created|date:"jS F Y"}}.</span>
	<span class="comments">{{comment_count}} comment{{comment_count|pluralize}}.</span>
</p>
<div class="content">
	<article>
		{{post.content|render}}
	</article>
</div>
{% endblock %}


{% block blog_extra_script %}
	{% render_asset post js %}
{% endblock %}