<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title> Jamie Curle - Cooking up an new version.</title>
		<meta http-equiv="refresh" content="5">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0 width=device-width">
		<link rel="stylesheet" href="http://media.jamiecurle.com/css/global.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="http://media.jamiecurle.com/css/typography.css" media="screen">
	</head>
	<body>
		
		<header class="primary">
			<h1>
				<a href="/">J<span>amie</span> C<span>urle</span></a>
			</h1>
		</header>
		
		<div class="content">
			<h1>Deploying a new version.</h1>
			<p>
				This page will refresh when the new version is ready.
			</p>
		</div>
	</body>
</html>
