{% load compress %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title> {% block title %}{% endblock %} Jamie Curle</title>
		<link rel="alternate" type="application/rss+xml" title="RSS" href="http://jamiecurle.com/posts/feed.rss">
		<link rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
		<link rel="icon" type="image/png" href="{{MEDIA_URL}}favicon.ico" />
		{% compress css %}
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0 width=device-width">
		<link rel="stylesheet" href="{{MEDIA_URL}}css/jc.base.css" media="screen">
		<link rel="stylesheet" href="{{MEDIA_URL}}css/typography.css" media="screen">
		<link rel="stylesheet" href="{{MEDIA_URL}}css/nav.css" media="screen">
		<link rel="stylesheet" href="{{MEDIA_URL}}css/twitter.css" media="screen">
		<link rel="stylesheet" href="{{MEDIA_URL}}css/jc.tags.css" media="screen">
		<link rel="stylesheet" href="{{MEDIA_URL}}css/mediaqueries.css" media="screen">
		<script type="text/javascript" src="http://use.typekit.com/upd8ahc.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		{% block head %}
		{% endblock %}
		{% endcompress %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
		<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	</head>
	<body id="{% block id %}{% endblock %}" class="{% block bodyclass %}{% endblock %}">
		{% block nav %}

		{% endblock %}
		{% block body %}
		<nav class="global">
			<a href="/">Home</a>
			<a href="{% url posts:index %}" id="blog">blog</a>
			<a href="{% url instagram:index %}" id="instagram">instagram</a>
			<a href="{% url instagram:index %}" id="instagram">About Me</a>
		</nav>

		<div class="content">
			{% block content %}
			{% endblock %}
		</div>
		<footer>
			<div id="creative-commons">
				<p>
					<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">jamiecurle.com</span> by 
					<a xmlns:cc="http://creativecommons.org/ns#" href="http://jamiecurle.com" property="cc:attributionName" rel="cc:attributionURL">Jamie Curle</a> 
					is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
					Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
				</p>
			</div>
		</footer>
		{% endblock %}
		
{% compress js %}
{% block js %}{% endblock %}
{% endcompress %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18964988-1']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);
  _gaq.push(['_trackPageLoadTime']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
	</body>
</html>
