{% load compress  %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title> {% block title %}{% endblock %} Jamie Curle</title>
		<link rel="alternate" type="application/rss+xml" title="RSS" href="http://jamiecurle.com/posts/feed.rss">
		<link rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
		<link rel="icon" type="image/png" href="{{MEDIA_URL}}favicon.ico" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0 width=device-width">

		{% compress css %}
		<link rel="stylesheet" href="{{MEDIA_URL}}css/global.css" media="screen">
		<link rel="stylesheet" href="{{MEDIA_URL}}css/nav.css" media="screen">
		<link rel="stylesheet" href="{{MEDIA_URL}}css/typography.css" media="screen">
		<link rel="stylesheet" href="{{MEDIA_URL}}css/objects.css" media="screen">
		{% block head %}
		{% endblock %}
		{% endcompress %}
		<script type="text/javascript" src="http://use.typekit.com/upd8ahc.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>


		<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	</head>
	<body id="{% block id %}{% endblock %}" class="{% block bodyclass %}{% endblock %}">

		{% block nav %}

		{% endblock %}
		{% block body %}
		<div role="navigation">
			<nav class="global">
				<a href="/">Home</a>
				<a href="{% url posts:index %}" id="blog">blog</a>
				<a href="{% url instagram:index %}" id="instagram">instagram</a>
				<a href="{% url instagram:index %}" id="instagram">About Me</a>
			</nav>
		</div>
		<div class="content">
			{% block content %}
			{% endblock %}
		</div>
		<footer>
			<div id="creative-commons">
				<p>
					<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">jamiecurle.com</span> by 
					<a xmlns:cc="http://creativecommons.org/ns#" href="http://jamiecurle.com" property="cc:attributionName" rel="cc:attributionURL">Jamie Curle</a> 
					is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
					Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
				</p>
			</div>
		</footer>

		{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<!-- <script src="{{MEDIA_URL}}js/modernizr.js"></script>
<script src="{{MEDIA_URL}}js/masonry.js"></script> -->

{% compress js %}
{% block js %}{% endblock %}
{% endcompress %}

	</body>
</html>
