<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title> {% block title %}{% endblock %} Jamie Curle</title>
		<link rel="alternate" type="application/rss+xml" title="RSS" href="http://jamiecurle.com/posts/feed.rss">
		<link rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
		<link rel="icon" type="image/png" href="{{MEDIA_URL}}favicon.ico" />
		<meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0;">
		<link rel="stylesheet" href="{{MEDIA_URL}}css/jc.base.css" media="screen">
		<link rel="stylesheet" href="{{MEDIA_URL}}css/jc.admin.css" media="screen">
		<link rel="stylesheet" href="{{MEDIA_URL}}css/jc.syntax.css" media="screen">
		<link rel="stylesheet" href="{{MEDIA_URL}}css/jc.tags.css" media="screen">
		{% block head %}
		{% endblock %}

		<script type="text/javascript" src="http://use.typekit.com/rll1nei.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
		<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	</head>
	<body id="{% block id %}{% endblock %}" class="{% block bodyclass %}{% endblock %}">
		{% block body %}
		<header>
			<h1><a href="/">J<span>amie </span>C<span>urle</span></a></h1>
			{% block meta %}
			
			
			{% endblock %}
		</header>
		<div class="content">
			{% block content %}
			{% endblock %}
		</div>
		<footer>
			<div id="creative-commons">
				<p>
					<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">jamiecurle.com</span> by 
					<a xmlns:cc="http://creativecommons.org/ns#" href="http://jamiecurle.com" property="cc:attributionName" rel="cc:attributionURL">Jamie Curle</a> 
					is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
					Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.  F
				</p>
			</div>
		</footer>
		{% endblock %}
		

{% block js %}{% endblock %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18964988-1']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
	</body>
</html>
