{% extends 'base.html' %}
{% load webdesign blog %}
{% block extra_style %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/home.css" type="text/css" media="screen">
{% endblock %}
{% block article %}


<article id="featured-blog-post" class="preview blog">
	<a href="{{featured.get_absolute_url}}">
		<img src="{{featured.img.l}}" alt="{{featured.img.title}}">
		<h2>{{featured.title}}-- {{featured.hello}} --</h2>
		<p>{{featured.description|truncatewords:15}}.</p>
	</a>
</article>

{% for page in pages %}
<article class="preview info">
	<a href="{{page.get_absolute_url}}">
		<img src="{{page.img.l}}" alt="{{page.img.title}}">
		<h2>{{page.title}} </h2>
		<p>{{page.description|truncatewords:15}}.</p>
	</a>
</article>
{% endfor %}

{% for post in posts %}
<article class="preview blog">
	<a href="{{post.get_absolute_url}}">
		<img src="{{post.img.l}}" alt="{{post.img.title}}">
		<h2>{{post.title}} </h2>
		<p>{{post.description|truncatewords:15}}.</p>
	</a>
</article>
{% endfor %}
{% for book in books %}
<article class="preview books">
	<a href="{{book.get_absolute_url}}">
		<img src="{{book.l}}" alt="{{book.title}}">	
		<h2>{{book.title}}</h2>
		<p>{{book.description|truncatewords:15}}.</p>
	</a>
</article>
{% endfor %}


{% endblock %}
{% block extra_script %}
<script src="{{MEDIA_URL}}js/jquery/matching.heights.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
$(function(){
    $('article.preview').sameheight(); 
	$('article.preview').each(function(){
		var callout = '<span class="callout">' + $(this).attr('class').split(' ').slice(-1) + '</span>';
		$(this).find('a').html(callout+$(this).find('a').html())
	})
});
</script>
{% endblock %}
