{% extends 'base.html' %}
{% load webdesign blog %}
{% block extra_style %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/home.css" type="text/css" media="screen">
<style type="text/css" media="screen">

</style>
{% endblock %}
{% block article %}
<article id="about" class="preview">
	<a href="#">
		<img src="{{MEDIA_URL}}home/jamie-curle.jpg" alt="Jamie Curle">
		<h2>Hello, I'm Jamie Curle.</h2>
		<p>
			I'm a designer, developer, drummer, 
			chilli grower & I'm on a quest to harvest 
			joy and be ultra. 
		</p>
	</a>
</article>

<article id="featured-blog-post" class="preview">
	<a href="{{featured.get_absolute_url}}">
		<img src="{{featured.img.l}}" alt="{{featured.img.title}}">
		<h2>{{featured.title}}</h2>
		<p>{{featured.description}}.</p>
	</a>
</article>

{% for post in posts %}
<article class="preview">
	<a href="{{post.get_absolute_url}}">
		<img src="{{post.img.l}}" alt="{{post.img.title}}">
		<h2>{{post.title}}</h2>
		<p>{{post.description}}.</p>
	</a>
</article>
{% endfor %}
{% endblock %}
{% block extra_script %}
<script src="{{MEDIA_URL}}js/jquery/matching.heights.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
$(function(){
    $('article.preview p').sameheight(); 
});
</script>
{% endblock %}
