<% content_for :stylesheets do %>
	<link rel="stylesheet" href="/stylesheets/jamiecurle.edit.css" media="screen">
<% end %>




<% if notice %>
<div class="notice">
<%=notice %>
</div>
<% end %>


<%= render 'form' %>

<%= link_to 'Back', journals_path %>
