<h1>New post</h1>

<% content_for :stylesheets do %>
	<link rel="stylesheet" href="/stylesheets/jamiecurle.edit.css" media="screen">
	<link rel="stylesheet" href="/fancybox/jquery.fancybox-1.3.4.css" media="screen">
<% end %>

<%= render 'form' %>

<%= link_to 'Back', posts_path %>
