{% load utils %}

{% if thing|model == 'twitter' %}
<div class="tweet">
{{thing.body}}
</div>
{% endif %}

{% if thing|model == 'lastfm' %}
<div class="scrobble">
	<p>{{thing.artist_name}} - {{thing.name}}</p>
	<img src="{{thing.img}}">
</div>
{% endif %}

{% if thing|model == 'pinboard' %}
<div class="pinboard">
	<a href="{{bookmark.url}}">{{bookmark.description}}</a>
</div>
{% endif %}

{% if thing|model == 'instagram' %}
<div class="instagram" id="instagram{{thing.pk}}">
	<img src="{{thing.img.url}}">
</div>
{% endif %}