<!DOCTYPE html>
<html lang="en">
	<head>
			<meta charset="utf-8">
			<title></title>
			<link rel="stylesheet" href="/stylesheets/jamiecurle.css" media="screen">
			<link rel="stylesheet" href="/stylesheets/jamiecurle.css" media="screen">
			<%= csrf_meta_tag %>
			<script type="text/javascript" src="http://use.typekit.com/rll1nei.js"></script>
			<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body>
		<header>
			<h1><a href="/">JC</a></h1>
			
			<% if session[:user_id] %>
				<%= button_to 'Logout', logout_path, :method => :delete %>
			<% end %>
		</header>
		
		<div class="content">
			<%=yield %>
		</div>
		
		
		<footer>
		</footer>
	</body>
</html>